/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
































html, body {
    height: 100%;
    margin:0;
    padding:0;
}

body {
    position: relative;
}

.splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bombard-title {
    font-size: 20em;
    margin: 7% 0 10% 0;
}

.player-number-select {
    display: flex;
    justify-content: space-between;
    width: 32%;
}

.player-number-select > * {
    padding: 30px 50px;
    font-size: 4em;
    padding: 60px;
    font-weight: bold;
    color: white;
    
}

.btn-start-one-player{
    background-color: blue;
    border: 10px solid darkblue;
}

.btn-start-two-players {
    background-color: darkred;
    border: 10px solid red;
}









.btn-shop {
    position: absolute;
    top: 10%;
    left: 90%;
    padding: 30px 50px;
    font-size: 4em;
    border: 20px solid darkgoldenrod;
    font-weight: bold;
    background-color: gold;
}

.level-select-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.level-select-title {
    font-size: 20em;
    margin: 7% 0 6% 0;
}

.level-display {
    width: 2300px;
    height: 1500px;
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
}

.level-display > * {
    margin: 60px;
    padding: 160px 60px;
    font-size: 4em;
    border-radius: 50px;
    border: 10px solid gray
}








.player-one-lives {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    align-content: space-around;
    background-color: white;
    padding: 10px 50px;
    border-radius: 36px;
    margin: 40px 70px;
    border: 5px solid black;
}

.number-of-lives {
    font-size: 3em;
    margin: 0 10 0 0;
}

.lives-icon {
    height: 40px;
    margin: 0 0 0 10px;
}

.background-canvas {
    display: block;
    text-align: center;
    padding: 87px 0 0 510px;
}

.game-container {
    background-image: url("/img/background/Bombard\ background\ third\ try.jpg");
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-position: center;
}









.game-over-title {
    font-size: 20em;
    margin: 7% 0 10% 0;
}

.game-over-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.restart-button {
    padding: 30px 50px;
    font-size: 4em;
}




/* 
<main class="splash-screen">
<h1 class="level-select-title">Select a Level</h1>
<div class="level-display">
    <button class="btn-level-one">One Player <img></button>
    <button class="btn-level-two">Two Players <img></button> */