/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
































html, body {
    height: 100%;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    position: relative;
}

.splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/img/background/splashScreen/Under_tree_filter.jpg");
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-position: center;
}

.bombard-title {
    font-family: "McLaren";
    text-align: center;
    margin-bottom: 10%;
}

.title-a {
    font-size: 4em;
}
.title-song {
    font-size: 8em;
}

.title-of {
    font-size: 3em;
}

.title-bombard {
    font-size: 14em;
}

.player-number-select {
    display: flex;
    justify-content: space-between;
}

.btn-start-one-player{
    font-family: "McLaren";
    font-weight: bold;
    color: black;
    padding: 30px 125px;
    font-size: 2em;
    background-color: gold;
    border: 10px solid darkgoldenrod;
    margin-right: 20%;
    width: 600px;
}

.btn-start-one-player:focus, .restart-button:focus {
    background-color: darkgoldenrod;
    border: 10px solid gold;
}

.btn-start-two-players {
    background-color: red;
    border: 10px solid darkred;
    font-family: "McLaren";
    font-weight: bold;
    color: black;
    padding: 30px 125px;
    font-size: 2em;
    width: 600px;
}

.btn-start-two-players:focus {
    background-color: darkred;
    border: 10px solid red;
}








/* .shop-div {
    /* position: absolute;
    top: 5%;
    left: 80%;
    font-weight: bold;
    width: 600px;
    display: flex;
    align-items: center;
}

.number-of-total-coins {
    font-size: 2.5em;
}

.spinning-total-coins {
    margin-right: 80px;
    height: 50px;
} */


.btn-shop {
    font-size: 2em;
    padding: 15px 25px;
    border: 10px solid darkgoldenrod;
    background-color: gold;
}

.level-select-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/img/background/splashScreen/Under_tree_filter.jpg");
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-position: center;
}

.level-select-title {
    font-size: 12em;
    margin: 6% 0 8% 0;
    font-family: "McLaren";
    font-weight: bold;
}

.level-display {
    width: 1200px;
    display: flex;
    margin-bottom: 150px
}

.level-display > * {
    margin: 30px;
    width: 25%;
    font-size: 2em;
    border-radius: 50px;
    border: 5px solid grey;
    text-align: center;
    font-weight: bold;
    color: white;
}

.btn-start-level-one {
    border: 5px solid black;
    background-image: url("/img/background/lvl1-noplayer-img.jpg");
    background-size: 410px;
    background-position: center;
    background-repeat: no-repeat;
    height: 230px;
    width: 293px;
}

.btn-start-level-two {
    border: 5px solid black;
    background-image: url("/img/background/lvl2-noplayer-img.jpg");
    background-size: 410px;
    background-position: center;
    background-repeat: no-repeat;

    /* height: 240px; */
}

.btn-start-level-three {
    border: 5px solid black;
    background-image: url("/img/background/lvl3-noplayer-img.jpg");
    background-size: 410px;
    background-position: center;
    background-repeat: no-repeat
}

.btn-start-level-four {
    border: 5px solid black;
    background-image: url("/img/background/lvl4-noplayer-img.jpg");
    background-size: 410px;
    background-position: center;
    background-repeat: no-repeat
}









.one-player-lives-and-coins {
    position: absolute;
    z-index: 1;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    align-content: space-around;
    background-color: white;
    padding: 10px 50px;
    border-radius: 36px;
    margin: 40px 70px;
    border: 5px solid black;
    font-size: 3em;
}

.one-player-lives-and-coins > * {
    display: flex;
    flex-direction: row;
}

.player-one-lives {
    position: absolute;
    top: 85%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    background-color: white;
    padding: 10px 50px;
    border-radius: 36px;
    margin: 40px 70px;
    border: 5px solid black;
    font-size: 3em;
}

.player-one-lives > * {
    display: flex;
    flex-direction: row;
}

.player-one-number-of-lives {
    margin-right: 10px;
}

.player-two-lives {
    position: absolute;
    left: 82%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    background-color: white;
    padding: 10px 50px;
    border-radius: 36px;
    margin: 40px 70px;
    border: 5px solid black;
    font-size: 3em;
}

.player-two-lives > * {
    display: flex;
    flex-direction: row;
}

.player-two-number-of-lives {
    margin-right: 10px;
}

.number-of-coins {
    margin: 0 10px 0px 0;
}

.level-coins-icon {
    height: 50px;
}

.coins-div {
    margin: 0 50px 0 0;
}

.number-of-lives {
    margin: 0 10px 0 0;
}

.lives-icon {
    height: 40px;
    margin-top: 2px;
}

.background-canvas {
    display: block;
    text-align: center;
    padding: 87px 0 0 510px;
}

.one-player-game-container {
    background-image: url("/img/background/1Player_with_exit.jpg");
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-position: center;
}

.two-players-game-container {
    background-image: url("/img/background/2Player_background.jpg");
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-position: center;
}









.game-over-title {
    margin: 0 0 5% 0;
    font-size: 14em;
    text-align: center;
    font-family: "McLaren";
    font-weight: bold;     
}
.game-over-win-title {
    margin: 4% 0 0 0;
    font-size: 14em;
    text-align: center;
    font-family: "McLaren";
    font-weight: bold;  
}

.game-over-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("/img/background/splashScreen/Under_tree_filter.jpg");
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-position: center;
}

.game-over-lose-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/img/background/splashScreen/Under_tree_filter.jpg");
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-position: center;
}

.restart-button {
    font-family: "McLaren";
    padding: 30px 50px;
    font-size: 4em;
    background-color: gold;
    border: 10px solid darkgoldenrod;
}

.lute-solo {
    height: 300px;
    width: 400px;
}

.dead-lute {
    height: 250px;
    width: 450px;
    margin-bottom: 3%
}

/* 
<main class="splash-screen">
<h1 class="level-select-title">Select a Level</h1>
<div class="level-display">
    <button class="btn-level-one">One Player <img></button>
    <button class="btn-level-two">Two Players <img></button> */